.underlineonhover {
  position: relative;
  transition: color 0.3s ease;
}

.underlineonhover::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.underlineonhover:hover::after {
  width: 100%;
}

.underlineactive::after {
  width: 100%;
}
